.DS_Store

*.py[cod]
__pycache__/

NameAliases.txt
NamedSequences.txt

MR5CodePointAliasData.[hm]
MR5SequenceNameData.[hm]

scraps/
dist/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
ObjectiveC.gcda
*.xcscmblueprint
